# Task1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

#Creating 4 series with 4 elements

s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))

print(s1,s2,s3,s4)

0    0.530993
1    0.364421
2    0.973049
3    0.750293
dtype: float64 0    0.310776
1    0.767431
2    0.261389
3    0.441286
dtype: float64 0    0.867579
1    0.405759
2    0.737360
3    0.079042
dtype: float64 0    0.645554
1    0.838452
2    0.287781
3    0.544279
dtype: float64

In [ ]:
#Creating a database with the 4 series

df = pd.DataFrame([s1,s2,s3,s4])
print(df)

          0         1         2         3
0  0.530993  0.364421  0.973049  0.750293
1  0.310776  0.767431  0.261389  0.441286
2  0.867579  0.405759  0.737360  0.079042
3  0.645554  0.838452  0.287781  0.544279

# Task-2 : Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
#Changing the column names

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.530993        0.364421        0.973049        0.750293
1        0.310776        0.767431        0.261389        0.441286
2        0.867579        0.405759        0.737360        0.079042
3        0.645554        0.838452        0.287781        0.544279

# Task3 - Find the descriptive statistics of the 'df' dataframe.

In [ ]:
# Finding descriptive statistics
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.588726        0.594016        0.564895        0.453725
std          0.232076        0.243568        0.348923        0.280888
min          0.310776        0.364421        0.261389        0.079042
25%          0.475938        0.395424        0.281183        0.350725
50%          0.588273        0.586595        0.512570        0.492782
75%          0.701061        0.785186        0.796282        0.595783
max          0.867579        0.838452        0.973049        0.750293

# Task4 - Check for the null values in 'df' and find the data type of the columns

In [ ]:
#Checking for null values

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.isnull().all()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [ ]:
# Checking data type of column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
df['Random value 1'].dtype

dtype('float64')

In [ ]:
df['Random value 2'].dtype

dtype('float64')

In [ ]:
df['Random value 3'].dtype

dtype('float64')

In [ ]:
df['Random value 4'].dtype

dtype('float64')

# Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
# Location (loc) & Index location (iloc) ---> Syntax = loc[:,:], iloc[:,:]

#with loc method
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.364421        0.973049
1        0.767431        0.261389
2        0.405759        0.737360
3        0.838452        0.287781

In [ ]:
#with iloc method
df.iloc[0:4,1:3]

   Random value 2  Random value 3
0        0.364421        0.973049
1        0.767431        0.261389
2        0.405759        0.737360
3        0.838452        0.287781